<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://blackrockdigital.github.io/startbootstrap-1-col-portfolio/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
      <div class="tag">
         <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      </div>
      <!-- Navigation -->
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                  <a class="navbar-brand" href="#">Simple FB</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                     <% if user_signed_in? %>
                          <%= link_to root_path do %>
                          <%= image_tag "hem.jpg",
                           class: ""
                            %>
                          <% end %>
                     <% end %>
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                      </li>
                       
                        <% if user_signed_in? %>
                            <li><%= link_to "Logout", destroy_user_session_path, method: :delete ,:class=>"nav-link"%>
                            </li>
                        <% else %>
                           <li><%= link_to "Sign Up", new_user_registration_path ,{ :class => 'nav-link', 'data-toggle' => '#login-modal'} %>
                             
                           </li>
                           <li><%= link_to "Login", new_user_session_path ,:class=>"nav-link"%></li>
                          <% end %>
                    
                    </ul>
                  </div>
                </div>
              </nav>



              <% if user_signed_in? %>
 <li> </li>
 <%end%>

    <%= yield %>
  </body>
</html>
